.projects {
    margin-top: 1%;
}

.projects h1 {
    text-align: right;
}

.card-img-top {
    border-radius: 8%;
    width: 30%;
    height: 60%;
    margin-left: 35%;
}

.card-body{
    text-align: center;
}

.card-text{
    text-align: left;
}

.announcement {
    text-align: center;
}

.announcement h2 {
    font-family:cursive;
    margin-bottom: 2%;
}